.Logo{
    width: 100px;

}
header{
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
}

nav li{
    display: inline;
    padding: 10px;
    font-size: 25px;
}
.tarjeta{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 226, 212)
}
nav img{
    width: 150px;
}
nav a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.card{
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0px 10px 15px;
    font-family: "Playfair Display", serif;
}
.card img{
    width: 100%;
}
.cards-content{
    padding: 10px;
}
.cards-content h1{
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0)}
    .cards-content h2{
    font-size: 15px;
    }
    .target{
        display: flex;
        margin-right: 100px;
        margin-left: 100px;
        
    }
    .card:hover{
        background-color: rgb(223, 228, 209);
        transform: scale(1.05);
    }

    .tarjeta2{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 212)
}
nav img{
    width: 150px;
}
nav a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.card2{
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0px 10px 15px;
    font-family: "Playfair Display", serif;
}
.card2 img{
    width: 100%;
}
.cards-content2{
    padding: 10px;
}
.cards-content2 h1{
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0)}
    .cards-content2 h2{
    font-size: 15px;
    }
    .tarjeta2{
        display: flex;
        margin-right: 100px;
        margin-left: 100px;
        
    }
    .card2:hover{
        background-color: rgb(223, 228, 209);
        transform: scale(1.05);
    }
    footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(223, 228, 209);
}

